@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>To Reach Us</h3>

<address>
    123 Richmond Dr<br />
    Somewhere, VA 12345-123<br />
    <abbr class="glyphicon glyphicon-earphone" title="Phone"></abbr>
    111.111.1111
</address>

<address>
    <strong class="glyphicon glyphicon-envelope"></strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>